$color-facebook: #3b5998 !default;
$color-vkontakte: #45668e !default;
$color-google: #dd4b39 !default;
$color-linkedin: #0077b5 !default;
$color-pinterest: #bd081c !default;
$color-twitter: #1da1f2 !default;
$color-text: #fff !default;

$radius: 3px !default;

$font-size-text: .75rem !default;
$font-size-icon: 1rem !default;


$spacing: 1.5em !default;
$spacing-half: ($spacing / 2) !default;

$gutter: .25em !default;
